@use "../abstract/variables";

.mainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  @media (max-width: 700px) {
    flex-flow: column;
    align-items: flex-start;
    margin: 5rem auto;
  }

  & li {
    list-style: none;
    & a {
      font-size: 1.6rem;
      color: variables.$color-menu;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 800px) {
        font-size: 1.2rem;
      }
      @media (max-width: 700px) {
        font-size: 1.8rem;
      }
      &:hover {
        color: variables.$color-primary;
      }
    }
  }
  margin-right: 5rem;
}

.menu__ico {
  width: 2.5rem;
  height: auto;
}
